<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
			xmlns:beans="http://www.springframework.org/schema/beans"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.1.xsd">

 	<global-method-security secured-annotations="enabled" />

	<http auto-config="true" use-expressions="true">
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/Index" access="permitAll"/>
        <intercept-url pattern="/assets/**" access="permitAll"/>
        <intercept-url pattern="/js/**" access="permitAll"/>
        <intercept-url pattern="/css/**" access="permitAll"/>
        <intercept-url pattern="/img/**" access="permitAll"/>
        <intercept-url pattern="/bootstrap/**" access="permitAll"/>
        <intercept-url pattern="/card/**" access="permitAll"/>
        <intercept-url pattern="/book/**" access="hasRole('AUTH_BOOK')"/>
        <intercept-url pattern="/feedback/ListFeedbacks*" access="hasRole('AUTH_READ_FEEDBACK')"/>
        <intercept-url pattern="/feedback/Post*" access="hasRole('AUTH_POST_FEEDBACK')"/>
        <intercept-url pattern="/admin/ManageUsers*" access="hasRole('AUTH_ADM_USERS')"/>
        <intercept-url pattern="/admin/ManageSites*" access="hasAnyRole('AUTH_ADM_SITES','AUTH_ADM_ROOM')"/>
        <intercept-url pattern="/admin/ManageSite*" access="hasRole('AUTH_ADM_ROOM')"/>
        <intercept-url pattern="/admin/manage/ref/ParametersPage*" access="hasRole('AUTH_ADM_PARAMS')"/>
        <intercept-url pattern="/admin/manage/ref/RoomFeaturesPage*" access="hasRole('AUTH_ADM_FEATURES')"/>
        <intercept-url pattern="/admin/**" access="hasAnyRole('AUTH_ADM_USERS','AUTH_ADM_SITES','AUTH_ADM_ROOM','AUTH_ADM_FEATURES')"/>
        <intercept-url pattern="/h2/**" access="isAuthenticated() and authentication.name == 'admin'"/>
		<intercept-url pattern="/**" access="isAuthenticated()"/>
		<form-login login-page="/" 
					authentication-failure-url="/Index?loginFailed=true"
                    authentication-success-handler-ref="authenticationSuccessHandler"/>
					
		<anonymous />
		<logout />
   </http>
		
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="roomeetingAuthenticationProvider"/>
	</authentication-manager>
	
</beans:beans>
